.container {
  height: 100vh;
  padding: 0px 25px 25px 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 5fr;
  grid-gap: 25px;
  grid-template-areas:
    "wallets graph graph"
    "wallets trading transactions"
}

.item {
  border: 1px solid lightgrey;
}

.wallets {
  grid-area: wallets;
}

.graph {
  grid-area: graph;
}

.buysell {
  grid-area: trading;
}

.transactions {
  grid-area: transactions;
}